body{
    height: 3000px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
  font-size: 32px;
  color: #006850;
  margin-bottom: 10px;
}

 p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}


.banner{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/Img/hero.jpg);
  background-size: cover;
  background-position: center;
}
.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-text{
  text-align: center;
}

.center-text h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color: white;
}

.button-explore {
  background: #006850 !important;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: .4s;
}

.center-text a {
  color: white;
  text-decoration: none;
}

.button-explore:hover {
  transform: scale(1.3);
  cursor: pointer;
}
  .first-section {
    background-image: linear-gradient(rgba(27, 38, 55, 1), #006850);
    background-size: cover;
    background-position: center;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
  }
  
  .first-section article {
    max-width: 1600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .video-container iframe {
    width: 100%;
    height: 690px;
    max-width: 1600px;
  }
  
  .second-section{
    background-image: linear-gradient(#006850, rgb(172, 164, 164));
    background-size: cover;
    background-position: center;
    height: 80vh;
  


  }
  .map{
    width: 100%;
    height: 80vh;

  }


  .events-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 200px;
    gap: 20px;
    
  }

  @media (max-width: 768px) {
    .events-container{
        flex-direction: column;
        align-items: flex-start;
    }
  

    .card {
        margin-top: 20px;
    }
}
  .card {
    padding: 10px;
    max-width: 420px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    height: 100%;
  }
  

  
  .image {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    padding: 2px;
  }

  .date {
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    margin: 2px;
  }
  
  .title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.35rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 14px;
  }
  
  .description {
    line-height: 1.375;
  }

.contact-banner{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/Img/contact2.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.colorful-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-left: 60px;
  height: 100%;
  padding-bottom: 60px;
 
}

.form-group {
  margin-bottom: 20px;
  padding: 30px;
  padding-bottom: 30px;

}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 30px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #ff5f59;
}
